@import colors
@import prefixes
@import 'components/triangle'

.ig
  @import basics
.ig
  padding-left 30px
  padding-right 10px
  height 500px
  width 1000px
  .deptList
    @import department
    @import deptTable
  .deptList
    .department
      .sumContainer
      h3
        opacity 1
        transition opacity 0.2s
      .details
        opacity 0
        transition opacity 0.2s
      &:hover
        .details
          opacity 1
        .sumContainer
          opacity 0.2
        h3
          opacity 0.1
